/app/config/parameters.yml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache
/var/logs
/var/sessions

# Tests
/var/tests/*
!var/tests/.gitkeep

# Vendors
/vendor/
/node_modules/
/bower_components/

# Assets
/web/assets/
/web/bundles/

# Vagrant
/.vagrant/
ansible.cfg
/ansible/roles/*.*/

# PHP CS Fixer
.php_cs.cache

# App
