/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache
/var/logs
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar

# Build
/var/build/

# Npm
/node_modules/

# Bower
/bower_components/

# Assets
/web/assets/

# Vagrant
/.vagrant/

# Ansible
ansible.cfg
/ansible/roles/*.*/

# App
