/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar

# Npm
/node_modules/

# Bower
/bower_components/

# Sass
/.sass-cache/

# Assets
/web/assets/

# Vagrant
/.vagrant/

# Netbeans
/nbproject/

# Eclipse
/.project
/.buildpath
/.settings/

# PhpStorm
/.idea
