default:

    extensions:
        Behat\Symfony2Extension:
            kernel:
               path:  features/bootstrap/FeatureKernel.php
               class: FeatureKernel
               env:   test
        Behat\MinkExtension:
            base_url:  'http://{{ app_host }}.dev/app_test.php'
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
