default:

    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension:
            base_url:  'http://{{ app.name }}.dev/app_test.php'
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
    suites:
        default:
            contexts:
                - FeatureContext: ~
