[PHP]

; http://php.net/memory-limit
memory_limit = 512M

; http://php.net/short-open-tag
short_open_tag = Off

; http://php.net/error-reporting
error_reporting = E_ALL

; http://php.net/display-errors
display_errors = On

; http://php.net/display-startup-errors
display_startup_errors = On

; http://php.net/log-errors
log_errors = On

; http://php.net/track-errors
track_errors = On

; http://php.net/html-errors
html_errors = On

[Date]

; http://php.net/date.timezone
date.timezone = Europe/Paris

[Xdebug]

xdebug.default_enable = 1
xdebug.remote_enable = 1
xdebug.remote_connect_back = 1
xdebug.max_nesting_level = 300
xdebug.var_display_max_children = 128
xdebug.var_display_max_data = 512
xdebug.var_display_max_depth = 4
xdebug.cli_color = 1
