<VirtualHost *:80>
    DocumentRoot /home/{{ user }}/www/web
    ServerName {{ host }}

    SetEnv SYMFONY__VAGRANT 1

    <Directory /home/{{ user }}/www/web>
        AllowOverride All
        Allow from All
    </Directory>
</VirtualHost>