---

_vendor:   {{ vendor }}
_app:      {{ app }}
_app_dir:  /srv/app
_app_host: "{{ _app ~ ('.' ~ _vendor if _vendor else '') }}"

########
# Motd #
########

elao_motd_template: template/elao.j2
elao_motd:          California - 1993

############
# Timezone #
############

elao_timezone: Etc/UTC

###########
# Locales #
###########

elao_locales: []

elao_locales_default: C.UTF-8

#######
# Env #
#######

elao_env:
  - SYMFONY_ENV: "{{ _env }}"

#######
# Apt #
#######

elao_apt_update: true

elao_apt_components: ['main']

elao_apt_sources_list_template: sources_list/debian.list.j2

elao_apt_repositories_exclusive: true
elao_apt_repositories:
  - debian_security
  - debian_updates

elao_apt_preferences:
  - ~@dotdeb:100
  - php@dotdeb
  - nginx@nginx
  - nodejs@nodesource_5
  # App
  - mysql@dotdeb
  #- postgresql@postgresql
  #- redis@dotdeb
  #- elasticsearch@elasticsearch_2
  #- mongodb@mongodb_3_1

elao_apt_packages: []

#######
# Git #
#######

elao_git_config_template: config/{{ _env }}.j2

#######
# Ssh #
#######

elao_ssh_config_sshd_template: config/sshd/{{ _env }}.j2

elao_ssh_config_template: config/{{ _env }}.j2
elao_ssh_config: []

#############
# Oh my zsh #
#############

elao_ohmyzsh_users:
  - user:     "{{ _user }}"
    template: users/{{ _env }}.j2
    config:
      - ZSH_THEME: elao-dev
      - plugins: (git debian common-aliases history history-substring-search npm composer symfony2)
      - export PATH: ./bin:$PATH
      - cd {{ _app_dir }}

###########
# MailHog #
###########

elao_mailhog_config_template: config/{{ _env }}.j2

#########
# Files #
#########

_all_files: []

#########
# MySql #
#########

elao_mysql_configs_exclusive: true
elao_mysql_configs:
  - file: my.cnf
    template: configs/{{ _env }}.cnf.j2

##############
# PhpMyAdmin #
##############

elao_phpmyadmin_config_template: config/{{ _env }}.inc.php.j2

##############
# PostgreSQL #
##############

#elao_postgresql_version: 9.4

#elao_postgresql_config_template: config/{{ _env }}.conf.j2

#elao_postgresql_config_hba_template: config/hba/{{ _env }}.conf.j2

##############
# PhpPgAdmin #
##############

#elao_phppgadmin_config_template: config/{{ _env }}.inc.php.j2

#########
# Redis #
#########

#elao_redis_config_template: config/{{ _env }}.conf.j2

#################
# PhpRedisAdmin #
#################

#elao_phpredisadmin_config_template: config/{{ _env }}.inc.php.j2

###########
# MongoDB #
###########

#elao_mongodb_config_template: config/{{ _env }}.conf.j2

#######
# Php #
#######

elao_php_version: 7.0

elao_php_sapis: ['cli', 'fpm']

elao_php_fpm_pools_exclusive: true
elao_php_fpm_pools:
  - file:     www.conf
    template: fpm_pools/www_{{ _env }}.conf.j2

elao_php_extensions:
  - opcache
  # Symfony
  - json
  - intl
  - curl
  # App
  - mysql
  #- pgsql

elao_php_configs_exclusive: true
elao_php_configs:
  - file: 50-opcache.ini
    template: configs/opcache_{{ _env }}.ini.j2
  - file: 60-config.ini
    template: configs/{{ _env }}.ini.j2
    config:
      - date.timezone: UTC
      # App

elao_php_applications:
  # Dev
  - php-cs-fixer
  - phpcs
  # App
  #- phpunit
  #- phpunit@5.0.0
  #- openl10n@0.2.0

#########
# Nginx #
#########

elao_nginx_config_template: config/http_{{ _env }}.conf.j2

elao_nginx_configs_exclusive: true
_all_nginx_configs:
  # Php fpm
  - file:     php_fpm_params
    template: configs/php_fpm_params_{{ _env }}.j2
  # Gzip
  - file:     gzip
    template: configs/gzip_{{ _env }}.j2
  # Default 404
  - file:     00-default.conf
    template: configs/server_{{ _env }}.conf.j2
    config:
      - return: 404
  # App
  - file:     "{{ _app_host }}.conf"
    template: configs/server_{{ _env }}.conf.j2
    config:
      - server_name: "{{ _app_host }}.dev"
      - root:        "{{ _app_dir }}/web"
      - access_log:  "{{ elao_nginx_log_dir }}/app.access.log"
      - error_log:   "{{ elao_nginx_log_dir }}/app.error.log"
      - include:     conf.d/gzip
      - location /:
        - try_files: $uri /app.php$is_args$args
      - location ~ ^/(app(_[-\w]+)?)\.php(/|$):
        - include: conf.d/php_fpm_params
        #- internal;

#######
# Npm #
#######

#elao_npm_packages:
#  - name:    foo
#    version: 3

########
# Cron #
########

#elao_cron_files:
#  - file: app
#    user: "{{ elao_php_user }}"
#    jobs:
#      # Do foo bar
#      - name:   foo-bar
#        job:    "php {{ _app_dir }}/bin/console app:foo:bar --env={{ _env }}"
#        minute: 0
#        hour:   7
#        # Dev
#        state:  absent
