#!/bin/bash
#
# /etc/rc.d/init.d/xvfbd
#
# X Virtual Framebuffer
#
# chkconfig: 345 85 15
# description: X Virtual Framebuffer
# processname: xvfbd

# Source function library.
. /etc/init.d/functions

DISPLAY=":99"

NAME="xvfbd"
BIN="/usr/bin/Xvfb"
OPTIONS="${DISPLAY} -ac -screen 0 1280x1024x24 -nolisten tcp"
LOG_PATH="/var/log/${NAME}"
PID_FILE="/var/run/${NAME}.pid"

# Include the default user configuration if exists
[ -r /etc/default/${NAME} ] && . /etc/default/${NAME}

if [[ ! -d "${LOG_PATH}" ]]; then
    mkdir -p "${LOG_PATH}"
fi

do_start() {
    nohup ${BIN} ${OPTIONS} > ${LOG_PATH}/${NAME}.log 2> ${LOG_PATH}/${NAME}.error.log &
    RETVAL=$?
    [ $RETVAL = 0 ] && touch /var/lock/subsys/${NAME} && echo $!>${PID_FILE}
    echo
    return $RETVAL
}

do_stop() {
    PID=`cat ${PID_FILE}`
    [[ $PID != "" ]] && success && kill $PID || failure
    RETVAL=$?
    echo
    [ $RETVAL = 0 ] && rm -f /var/lock/subsys/${NAME} ${PID_FILE}
    return $RETVAL
}

case "$1" in
    start)
        echo -n "Starting ${NAME}: "
        do_start
        case "$?" in
            0|1) echo_success ;;
            2) echo_failure ;;
        esac
        ;;
    stop)
        echo -n "Stopping ${NAME}: "
        do_stop
        case "$?" in
            0|1) echo_success ;;
            2) echo_failure ;;
        esac
        ;;
    restart)
        echo -n "Restarting ${NAME}: "
        do_stop
        case "$?" in
            0|1)
                do_start
                case "$?" in
                    0) echo_success ;;
                    1) echo_failure ;; # Old process is still running
                    *) echo_failure ;; # Failed to start
                esac
                ;;
            *)
                # Failed to stop
                echo_failure
            ;;
        esac
        ;;
    status)
        status -p ${PID_FILE} ${NAME}
        ;;
    *)
        echo "Usage: ${NAME} {start|stop|restart|status}"
        exit 1
esac
exit $?
