server {
    listen 80;

    server_name {{ host }};
    root /home/{{ user }}/www/web;

    # strip app.php/ prefix if it is present
    rewrite ^/app\.php/?(.*)$ /$1 permanent;

    location / {
        index app.php;
        try_files $uri @rewriteapp;
        # Issue with virtualbox and nginx
        # http://jeremyfelt.com/code/2013/01/08/clear-nginx-cache-in-vagrant/
        sendfile off;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    # Pass the PHP scripts to FastCGI server from upstream php5-fpm-sock
    location ~ ^/(app|app_dev|app_test)\.php(/|$) {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
        fastcgi_read_timeout 300;

        fastcgi_param SYMFONY__VAGRANT 1;
    }
}
